<%= link_to 'breweries', breweries_path %> |
<%= link_to 'beers', beers_path %> |
<%= link_to 'ratings', ratings_path %>


<h2>List of ratings</h2>

Number of ratings: <%= @ratings.size %>
<ul>
 <% @ratings.each do |rating| %>
       <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
 <% end %>

<%= link_to "New rating", new_rating_path %>
</ul>